.noticia {
    padding: 25px;
}

.img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.title {
    font-size: 1.2rem;
    color: #333;
}

.date {
    font-size: .7rem;
    color: #333;
    font-style: italic;
}
/* 
.noticia div {
    margin: 10px 0px;
} */

.cabecera{
    border-bottom: 1px solid #cecece;
    padding: 10px;
}