<section class="container card shadow p-3 mb-5 bg-white rounded">
    <h1>Formulario de usuarios</h1>
    <hr>
    
    <form>
        <div class="d-flex flex-column gap-2 mb-3">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
            </div>
            <div class="form-group">
                <label for="nombreUsuario">Nombre de Usuario</label>
                <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre de Usuario">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
            </div>
        </div>
        <div class="d-flex justify-content-end">    
            <input type="submit" class="btn btn-primary" value="Enviar">
        </div>
    </form>
</section>
