<header class="header">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Post Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Option1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Option2</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main >
  <div class="container p-3 d-flex flex-column flex-lg-row  justify-content-between gap-5 border-red">
    <div class="newPost p-3 w-100 w-lg-25 border-blue">
      <h2 class="text-primary">New Post</h2>
      <hr>
      <div>
        <label for="username" class="form-label">Username</label>
        <input class="form-control" id="username" type="text" maxlength="25" placeholder="Username">
      </div>
      <div>
        <label for="title" class="form-label">Title</label>
        <input class="form-control" id="title" type="text" maxlength="100" placeholder="Title">
      </div>
      <div>
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" id="body" type="text" rows="10" placeholder="Body"></textarea>
      </div>
      <div>
        <label for="image" class="form-label">Image URL</label>
        <input class="form-control" id="image" type="text" placeholder="Image URL">
      </div>
      <button class="btn btn-primary mt-3">Post it!</button>
    </div>
    <div class="postList p-3 w-100 w-lg-75 border-blue">
      <h2 class="text-primary">Post List</h2>
      <hr>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">username</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="col-auto d-none d-md-block me-lg-3">
          <img class="bd-placeholder-img" width="200" height="250" src="https://placehold.co/1000x1000" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>

</main>