<header class="header">
    <h1>Noticias</h1>
</header>
<main>
  <div class="flex">
    <section class="form-noticias">
      <!-- form noticias -->
      <app-form-noticia (sendNoticia)="getDataForm($event)"></app-form-noticia>
    </section>
    <section class="listado-noticias">
      <!-- listado noticias -->
      <app-listado-noticias [misNoticias]="arrNoticias"></app-listado-noticias>
    </section>    
  </div>

  <footer class="footer">
    <p>¡Suscribete a nuestra newsletter!</p>
  </footer>
</main>