.header{
    margin-bottom: 20px;
}



/* ----------------- */
.border-red{
    border: 1px solid red;
}

.border-blue{
    border: 1px solid blue;
}

.border-green{
    border: 1px solid green;
}

.border-fuchsia{
    border: 1px solid fuchsia;
}

.border-blueviolet{
    border: 1px solid blueviolet;
}

.border-greenyellow{
    border: 1px solid greenyellow;
}