<!-- <input type="text" (change)="capturarTexto($event)"> -->
<section class="seccion">
  <select (change)="cambiarRole($event)">
    <option value="">Selecciona un role</option>
    @for(role of roles; track role; let i = $index){
    <option [value]="i">{{role.toUpperCase()}}</option>
    }
  </select>
  @switch (role) {
  @case('admin'){
  <section class="seccion roles">
    <p>Bienvenido administrador</p>
    <button>Insertar</button><button>Actualizar</button><button>Borrar</button>
  </section>
  }

  @case('editor'){
  <section class="seccion roles">
    <p>Bienvenido Editor</p>
    <button>Insertar</button>
  </section>
  }

  @case('suscriptor'){
  <section class="seccion roles">
    <p>Bienvenido Suscriptor</p>
    <p>Solo puede visualizar el contenido</p>
  </section>
  }

  @default {
  <section class="seccion roles">
    <p>Bienvenido Invitado</p>
  </section>
  }

  }

</section>
