<p [style]="estilos">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, dicta
  itaque!
  Error sed explicabo asperiores at
  eum similique dolorem dolore architecto quos quis consequatur debitis nulla ipsum, mollitia suscipit natus.</p>

<p [style.font-size.px]="9"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eveniet libero debitis
  ipsum sunt, eaque
  error pariatur dicta quisquam impedit nostrum aperiam cumque laudantium enim. Deleniti velit eius culpa. Cupiditate!
</p>

<p [class]="{rojo: false, verde: false, azul: true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
  similique
  reiciendis sit, voluptatum ducimus modi est minus atque eum porro maxime, possimus neque ab. Aliquam, odio? Quod
  obcaecati impedit at.</p>
