:root{
    --color-txt-dark: #27272a;
    --color-txt-light: #ffffff;
    --color-txt-grey-1: #4d4d4d;

    /* Textos especiales */
    --color-important-txt: #ff0000;

    /* Botones */
    --color-btn-border: #d4d4d8;
    --color-btn-bg: #ffffff;
    --color-btn-bg-hover: #999999;
    --color-btn-txt: var(--color-txt-dark);
    --color-btn-txt-hover: var(--color-txt-light);

    --color-btn-primary-txt: var(--color-txt-light);
    --color-btn-primary-txt-hover: var(--color-txt-light);
    --color-btn-primary-bg: #0066ff;
    --color-btn-primary-bg-hover: #0245a8;
    --color-btn-primary-border: #0245a8;

    /* Card */
    --color-card-shdw: #21212133;

    /* Pill */
    --color-pill-red-bg: #ff0000;
    --color-pill-blue-bg: #0066ff;

    /* Tag */
    --color-tag-bg: #1fb919;

    /* Propiedades comunes */
    --color-borders: #cccccc;

    /* Raffle */
    --color-raffle-bg: #EFF6FF;

    /* Inputs */
    --color-input-bg: #ffffff;
    --color-input-border-focus: #066aff;
    --color-input-border-focus-shdw: #267dff84;

    /* Modals */
    --color-modal-bg: #ffffff;
    --color-modal-window-bg: #00000080;
    --color-modal-border-focus-shdw: #00000033;

    /* Ticket */
    --color-ticket-bg: #fafafa;

}

/* Common */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-txt-dark);
}
.wrapper {
    max-width: 1440px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

.heading-7,
.heading-5,
.heading-3 {
    font-weight: 700;
}

.heading-1 {
    font-size: 1.2rem;
}

.heading-2 {
    font-weight: bold;
    font-size: 1.2rem;
}

.heading-3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.heading-5 {
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.heading-7 {
    font-size: 2.875rem;
    line-height: 3.375rem;
}
.btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--color-btn-border);
    background-color: var(--color-btn-bg);
    color: var(--color-btn-txt);
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--color-btn-bg-hover);
    color: var(--color-btn-txt-hover);
}

.btn--primary {
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-txt);
    border-color: var(--color-btn-primary-hover);
}

.btn--primary:hover {
    background-color: var(--color-btn-primary-bg-hover);
}

.img-responsive {
    max-width: 100%;
}

.text-important {
    color: var(--color-important-txt);
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    padding: 16px;
    border: 1px solid var(--color-borders);
    border-radius: 6px;
}
.card:hover{
    box-shadow: 0 0 11px var(--color-card-shdw);
    box-sizing: zoom;
    /* transform: scale(1.05); */
}

.pill {
    font-size: .9rem;
    border-radius: 4px;
    display: inline-flex;
    padding: 4px 6px;
    /* cursor: default; */
}

.pill--red {
    background-color: var(--color-pill-red-bg);
    color: var(--color-txt-light);
}

.pill--blue {
    background-color: var(--color-pill-blue-bg);
    color: var(--color-txt-light);
}

.tag {
    display: inline-block;
    padding: 4px 6px;
    background: var(--color-tag-bg);
    color: var(--color-txt-light);
}

.input{
    background: var(--color-input-bg);
    border: 2px solid var(--color-borders);
    border-radius: 6px;
    padding: 8px 12px;
    outline: none;
}
.input:focus{
    border-color: var(--color-input-border-focus);
    box-shadow: 0 0 11px var(--color-input-border-focus-shdw);
}

/* Modal */
.modal {
    display: none; /* Que se muestre por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal-window-bg); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
}

.modal--active {
    display: flex;
}
  
/* Contenido del modal */
.modal-content {
    background: var(--color-modal-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-modal-border-focus-shdw);
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 18px;
    color: var(--color-txt-grey-1);
    cursor: pointer;
    border: 1px solid var(--color-borders);
    border-radius: 5px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover{
    color: var(--color-borders);
}

/* Header */

.header {
    border-bottom: 1px solid var(--color-borders);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__w-menu {
    display: none;
}

@media (min-width: 1024px) {
    .header__w-menu {
        display: block;
    }
}

.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Main article */

.main-article {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

@media (min-width: 1024px) {
    .main-article {
        flex-direction: row;
    }
}

.main-article__w-img {
    flex-basis: 40%
}

.main-article__w-w-img {
    position: relative;
}

.main-article__img-tag {
    position: absolute;
    top: 16px;
    left: 16px;
}

.main-article__w-content {
    flex-basis: 60%;
}

.main-article__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-article__w-description p {
    margin-bottom: 1rem;
}

.main-article__w-description p:last-child {
    margin-bottom: 0;
}

.main-article__w-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

@media (min-width: 1024px) {
    .main-article__w-price {
        flex-direction: row;
        align-items: center;
    }
}

.main-article__features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media (min-width: 1024px) {
    .main-article__features {
        flex-direction: row;
    }
}

.main-article__w-feature {
    flex-basis: 33%;
}

.main-article__feature {
    display: flex;
    gap: 16px;
}

.main-article__feature-img {
    width: 24px;
    height: 24px;
}

/* Accesories */

.accessories {
    margin-top: 32px;
    margin-bottom: 32px;
}

.accessories__title {
    margin-bottom: 20px;
}

.accessories__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .accessories__inner {
        flex-direction: row;
    }
}

.accesories__w-accesory {
    flex-basis: 25%;
}

.accesory {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

/* Raffle */

.raffle {
    display: flex;
    flex-direction: column;
    background-color: var(--color-raffle-bg);
    padding: 32px;
    gap: 32px;
    border-radius: 5px;
    margin-bottom: 32px;
}

@media (min-width: 1024px) {
    .raffle {
        flex-direction: row;
    }
}

.raffle__w-content {
    flex-basis: 70%;
}

.raffle__w-content p {
    margin-bottom: 16px;
}

.raffle__w-content p:last-child {
    margin-bottom: 0;
}

.raffle__w-form {
    flex-basis: 30%;
}

/* raffle-form */

.raffle-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.raffle-form__w-control {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.raffle-form__input {
    background: var(--color-input-bg);
    border: 2px solid var(--color-borders);
    border-radius: 6px;
    padding: 8px 12px;
    outline: none;
}

.raffle-form__input:focus{
    border-color: var(--color-input-border-focus);
    box-shadow: 0 0 11px var(--color-input-border-focus-shdw);
}

.raffle-form__send-button {
    align-self: flex-start;
}

/* Footer */
.footer {
    border-top: 1px solid var(--color-borders);
    padding-top: 12px;
    padding-bottom: 12px;

    /* para que se quede fijo en la parte inferior */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: center;
}

/* Carrito */
.carrito{
    display: flex;
    gap: 32px;
    margin: 32px 0;
}

/* Table Products */
.table__products{
    flex-basis: 70%;
    background-color: var(--color-raffle-bg);
    flex-direction: space-between;
}

.table__products-head{
    font-weight: bold;
    border-bottom: 1px solid var(--color-borders);
}
.table__products-head th{
    padding: 12px;
}

.table__products-body td{
    padding: 12px;
}

.product-form__input{
    width: 100%;
    padding: 8px 12px;
    border: 2px solid var(--color-borders);
    border-radius: 6px;
    outline: none;
    display: inline;
}

.product-form__input::-webkit-inner-spin-button, ::-webkit-outer-spin-button{ /* quitar botones de incremento y decremento */
    -webkit-appearance: none;
    margin: 0;
}

.product-form__input[type="number"] { /* quitar botones en Firefox */
    -moz-appearance: textfield;
}

.quantity__input{
    display: flex;
    gap: 12px;
    width: 164px;
}
.quantity__input-button{
    max-width: 64px;
}
.quantity__input-button:hover{
    background-color: var(--color-btn-bg);
    border-color: var(--color-input-border-focus-shdw);
    color: var(--color-txt-dark);
}

/* Ticket */
.ticket{
    flex-basis: 30%;
    background-color: var(--color-ticket-bg);
    padding: 16px;

    display: flex;
    flex-direction: column;
}
.table__ticket{
    width: 100%;
} 
.table__ticket-body td, .table__ticket-foot td{
    padding: 12px;
}

.table__ticket-foot{
    border-top: 1px solid var(--color-borders);
}

.table__ticket__title{
    text-align: left;
}
.table__ticket__price{
    text-align: right;
}