<section class="series">
  <h2>En ocasiones veo series</h2>
  <hr>
  <select (change)="capturarCategoria($event)">
    <option value="">Selecciona una categoria</option>
    @for(categoria of categorias; track categoria){
    <option value="{{categoria}}">{{categoria}}</option>
    }

  </select>
  <div class="flex">

    @for(serie of series; track serie.id; let i = $index; let impar = $odd; let par = $even; let first = $first; let
    last = $last){
    <article [class.impar]="impar" [class.par]="par" [class.ultimo]="last">
      <figure>
        <img [src]="serie.poster" [alt]="serie.title">
      </figure>
      <h3>{{i}} - {{serie.title}}</h3>
      <p>Director:{{serie.director}}</p>
      <p>Categoria: {{serie.category}}</p>
      <p> Impar: {{impar}}</p>
      <p> Par: {{par}}</p>
      <p> Primero: {{first}}</p>
      <p> Ultimo: {{last}}</p>
    </article>
    }@empty {
    <h2>NO HAY RESULTADOS, NO TENEMOS SERIES CON ESOS DATOS</h2>
    }


  </div>
</section>
