.form {
    padding: 25px;
}

.form div {
    margin: 10px 0px;
}

.form-cabecera{
    border-bottom: 2px solid var(--color-common-border);
    padding: 0px 0px 10px 0px;
}

.form-input{
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--color-common-border);
    border-radius: 5px;
    font-size: 1rem;
    outline: none;

    &:focus{ 
        border-color: var(--color-input-focus-borders);
        box-shadow: var(--input-focus-shadow);
    }

    &.input-date{
        width: auto;
    }
}

.btn{
    height: 50px;
    width: 100px;
    padding: 8px 12px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.btn-primary{
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);

    &:hover{
        background-color: var(--color-btn-primary-hover-bg);
        color: var(--color-btn-primary-hover-text);
    }
}