.posts {
    padding: 25px;
}

.posts .cabecera {
    margin: 10px 0px;
}

.post-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecera{
    border-bottom: 2px solid #cecece;
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.search-input{
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cecece;
}

.post{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post__header{
    display: flex;
    gap: 5px;
    align-items: center;
}


.post__header__img{
    clip-path: circle();
    width: 60px;
    height: auto;
    object-fit: contain;
}

.post__date{
    font-size: .7rem;
    color: #d1d1d1;
    font-style: italic;
}