<section class="tabs">
  <ul class="menu">
    <li [class.activo]="seccionActual === 'london'" (click)="cambiarSeccion('london')">London</li>
    <li [class.activo]="seccionActual === 'paris'" (click)="cambiarSeccion('paris')">Paris</li>
    <li [class.activo]="seccionActual === 'madrid'" (click)="cambiarSeccion('madrid')">Madrid</li>
  </ul>
  @if(seccionActual === 'london'){
  <article>
    <h3>London</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque corporis dolorum minima exercitationem
      accusamus rem quod! Quasi, rerum dolores labore, perferendis id consequuntur, minima necessitatibus illo mollitia
      quam error!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque corporis dolorum minima exercitationem
      accusamus rem quod! Quasi, rerum dolores labore, perferendis id consequuntur, minima necessitatibus illo mollitia
      quam error!</p>
  </article>
  }@else if(seccionActual === 'paris'){
  <article>
    <h3>Paris</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minima quae cumque tempore veniam a dolorum?
      Modi iste est tempore, facilis nulla ratione accusamus saepe recusandae repellat excepturi, doloremque
      repellendus.</p>
  </article>
  }@else if(seccionActual === 'madrid'){
  <article>
    <h3>Madrid</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minima quae cumque tempore veniam a dolorum?
      Modi iste est tempore, facilis nulla ratione accusamus saepe recusandae repellat excepturi, doloremque
      repellendus.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minima quae cumque tempore veniam a dolorum?
    </p>
  </article>
  }

</section>


<button (click)="cambiarEstado()">click</button>
@if(estado){
<p [class.rojo]="false">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis adipisci
  quibusdam nemo
  quae magnam
  nobis at repudiandae nesciunt vero voluptatem sequi cumque, nostrum dolores itaque id nihil obcaecati odio.</p>
}
