.logo {
  width: 48px;
  height: 48px;
  fill: var(--color-theme);
}

.header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: space-between;
}

.app_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.user_info{
  display: flex;
  gap: 20px;
}

.main{
  padding: 10px;
}

.new-post{
  flex-basis: 30%;
  box-shadow: var(--input-focus-shadow);
  margin: 10px;
  top: 10;
}

.sidebar {
  width: auto;
  height: fit-content;
  position: static;
  top: 0;
}

.post-list{
  flex-basis: 70%;
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media(min-width: 900px) {
  .flex {
    flex-direction: row;
  }

  .sidebar{
    position: sticky;
  }
}


.btn{
  height: 50px;
  width: 100px;
  padding: 8px 12px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.btn-primary{
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-text);

  &:hover{
      background-color: var(--color-btn-primary-hover-bg);
      color: var(--color-btn-primary-hover-text);
  }
}

.btn-secondary{
  background-color: var(--color-btn-secondary-bg);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);

  &:hover{
      background-color: var(--color-btn-secondary-hover-bg);
      color: var(--color-btn-secondary-hover-text);
      border: 1px solid var(--color-btn-secondary-hover-border);
  }
}

.btn-user__info{
  padding: 2px;
  border-radius: 30px;
}