<div class="posts">
    <div class="cabecera">
        <h2 class="header-2">Timeline</h2>
        <input type="text" class="search-input" placeholder="Search" (input)="searchPosts($event)">
    </div>
    
    <div class="post-list">
        @for (post of posts; track post; let index = $index; let last = $last) {
            @if(!last) {
                <article class="post" [style.border-bottom]="borderBottom">
                    <div class="post__content">
                        <div class="post__content-header">
                            <svg stroke="currentColor" stroke-width="0" viewBox="0 0 496 512" height="48" width="48" xmlns="http://www.w3.org/2000/svg" [class] = "getRandomClassIcon()"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
                            <div class="user__post__info">
                                <p class="post__username bold">{{post.username}}</p>
                                <p class="post__date">{{post.date}}</p>
                            </div>
                        </div>
                        <div class="post__content-body">
                            <div class="post__content-text">
                                <h3 class="post__content-title header-3">{{post.title}}</h3>
                                <p class="post__content-body">{{post.body}}</p>
                            </div>
                        </div>
                    </div>
                    <img class="post__content-img" src="{{post.imageURL}}" alt="{{post.title}}">
                </article>
            }@else {
                <article class="post">
                    <div class="post__content">
                        <div class="post__content-header">
                            <svg stroke="currentColor" stroke-width="0" viewBox="0 0 496 512" height="48" width="48" xmlns="http://www.w3.org/2000/svg" [class] = "getRandomClassIcon()"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
                            <div class="user__post__info">
                                <p class="post__username bold">{{post.username}}</p>
                                <p class="post__date">{{post.date}}</p>
                            </div>
                        </div>
                        <div class="post__content-body">
                            <div class="post__content-text">
                                <h3 class="post__content-title header-3">{{post.title}}</h3>
                                <p class="post__content-body">{{post.body}}</p>
                            </div>
                        </div>
                    </div>
                    <img class="post__content-img" src="{{post.imageURL}}" alt="{{post.title}}">
                </article>
            }
        }
    </div>
</div>